/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *=require jquery.ui.all
 *= require_tree .
 */

ul li.planet {
  list-style-type: none;
  display: none;
}

.dropdown {
  display: none;
  position: absolute;
  padding-left: -30px;
  right: 0px;
}

ul.dropdown li {
  display: block;
  margin: 0;
  padding: 5px;
  font-size: 18px; /*Not working*/
  vertical-align: middle; /*not working*/
}

ul.navbar li:hover ul {
  display: block;
}

.dropdown-missions {
  display: none;
  position: absolute;
  padding-left: 0px;
  right: 0px;
}

ul.dropdown-missions li {
  display: block;
  margin: 0;
  padding: 5px;
  font-size: 18px; /*Not working*/
  vertical-align: middle; /*not working*/
}

ul.navbar li:hover ul {
  display: block;
}

.earth {
  display: none;
}