/*// Place all the styles related to the bodies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/


ul li.planet {
  list-style-type: none;
  display: none;
}

ul.navbar {
  list-style-type: none;
  -webkit-padding-start: 0px;
}

ul.navbar li {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  padding-right: 30px;
  margin: 0;
}

h3 {
  margin: 0;
}

body {
  margin: 0;
  background-color: #000000;
  color: #ffffff;
  font-family: "Courier New"
}

a {
  color: #6069D1;
  font-style: bold;
}

#info {
/*  opacity: 0.9;*/
  /*background-color: #555555;*/

}

.modal {
  height: 100%;
  width: 25%;
  position: absolute;
  display: none;
  overflow-x: none;
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #555555;
  background-color:rgba(0, 0, 0, 0.5)
}

.inner-modal {
  overflow-y: scroll;
  padding-left: 15px;
  padding-right: 10px;
  height: 90%;
}

/*img + p*/

.modal img {

  float: left;
  padding: 10px;
}

.heading {
  padding-left: 15px;
  font-size: 20px;
}

.heading2 {
  padding-left: 15px;
  font-size: 20px;
}

.close {
  margin: 0;
  background-color: #6069D1;
  padding: 10px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  width: 50px;
  position: fixed;
  top: 9%;
  left: 25%;
}
