/*// Place all the styles related to the bodies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/*/


ul li.planet {
  list-style-type: none;
  display: none;
}

body {
  margin: 0;
  background-color: #000000;
  color: #ffffff;
}

h4 {
  color: #ffffff;
}

.modal {
  height: 100%;
  width: 25%;
  position: absolute;
  overflow: scroll;
  display: none;
}

/*img + p*/

.modal img {
  float: left;
  padding: 10px;
}
